.App {
  display: flex;
}
.parent {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 300px;
  overflow: scroll;
  border: 1px solid blue;
}
.sibling {
  background-color: teal;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 300px;
  overflow: scroll;
  border: 1px solid blue;
}
.child {
  background-color: black;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 300px;
  overflow: scroll;
  border: 1px solid blue;
}
.wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;

}